{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="align-middle text-center">Краткое описание</th>
            <th scope="col" class="align-middle text-center">Полное описание</th>
            <th scope="col" class="align-middle text-center">Статус</th>
            <th scope="col" class="align-middle text-center">Тип</th>
            <th scope="col" class="align-middle text-center">Дата создания</th>
            <th scope="col" class="align-middle text-center">Проект</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <th scope="row"><a href="{% url 'issue_detail' issue.pk %}" class="text-info">{{ issue.summary }}</a>
                </th>
                <td>{{ issue.description|linebreaks }}</td>
                <td class="align-middle text-center">{{ issue.status }}</td>
                <td class="align-middle text-center">{{ issue.type }}</td>
                <td class="align-middle text-center">{{ issue.create_date|date:"d.m.Y H:i:s" }}</td>
                <td class="align-middle">
                    <a href="{% url 'project_detail' issue.project.pk %}" class="text-info">{{ issue.project }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'partial/pagination.html' %}
{% endblock %}