{% load widget_tweaks %}
{% csrf_token %}

{% for error in form.not_field_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
    <p>{{ field|add_class:'form-control' }}</p>
    {% for error in field.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
{% endfor %}

<p class="text-center">
    <input type="submit" value="{{ button_text }}" class="btn btn-success">
    <a href="{% url 'webapp:projects_list' %}" class="btn btn-primary">Отмена</a>
</p>