<div class="alert alert-secondary">
    <div class="alert alert-success">
        <h5 class="mb-3">Задача: <span class="text-primary">{{ issue.summary }}</span></h5>
        <p class="mb-1"><b>Описание:</b> <span class="text-primary">{{ issue.description|linebreaks }}</span></p>
    </div>
    <table class="table table-borderless table-sm alert alert-info text-center">
        <thead>
        <tr>
            <th scope="col" class="pl-3">Дата создания</th>
            <th scope="col">Тип:</th>
            <th scope="col">Проект:</th>
            <th scope="col">Статус:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-primary">{{ issue.create_date|date:'d.m.Y H:i:s' }}</td>
            <td class="text-primary">{{ issue.type }}</td>
            <td class="text-primary"><a href="{% url 'project_detail' issue.project.pk %}">{{ issue.project }}</a></td>
            <td class="text-primary">{{ issue.status }}</td>
        </tr>
        </tbody>
    </table>
</div>