{% extends 'base.html' %}

{% block title %}Статусы{% endblock %}

{% block body %}
    <h3 class="text-center">Статусы задач</h3>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <span class="text-center">Невозможно удалить статус, так как есть связанные с ним задачи.</span>
        </div>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3 col-4 offset-4">Перейти к задачам</a>
        <a href="{% url 'statuses_list' %}" class="btn btn-primary mt-3 col-4 offset-4">Перейти к статусам</a>
    {% endif %}
    <ul class="list-group">
        {% for status in statuses %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ status }}
                <span class="badge badge-pill bg-light">
                    <a href="{% url 'update_status' status.pk %}" class="btn text-primary">Редактировать</a>
                    <form action="{% url 'delete_status' status.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn text-danger">Удалить</button>
                    </form>
                </span>
            </li>
        {% endfor %}

        <form action="{% url 'create_status' %}">
            <button type="submit" class="btn btn-success mt-3 col-4 offset-4">Добавить статус</button>
        </form>
    </ul>
{% endblock %}