{% extends 'base.html' %}

{% block title %}Проекты{% endblock %}

{% block body %}
    <h3 class="text-center">Проекты</h3>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <span class="text-center">Невозможно удалить проект, так как есть связанные с ним задачи.</span>
        </div>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3 col-4 offset-4">Перейти к задачам</a>
        <a href="{% url 'projects_list' %}" class="btn btn-primary mt-3 col-4 offset-4">Перейти к проектам</a>
    {% endif %}
    <ul class="list-group">
        {% for project in projects %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'project_detail' project.pk %}">{{ project }}</a>
                <span class="badge badge-pill bg-light">
                    <a href="{% url 'update_project' project.pk %}" class="btn text-primary">Редактировать</a>
                    <form action="{% url 'delete_project' project.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn text-danger">Удалить</button>
                    </form>
                </span>
            </li>
        {% endfor %}

        <form action="{% url 'create_project' %}">
            <button type="submit" class="btn btn-success mt-3 col-4 offset-4">Добавить проект</button>
        </form>
    </ul>
{% endblock %}